@themeBackground: rgb(250, 130, 160);
@themeForeground: rgb(190, 136, 247);
@headerHeight: 60px;
html {
    position: relative;
    min-height: 100%;
}
body {
    font-family: Noto Sans TC, LiHei Pro, Microsoft JhengHei, Helvetica Neue, Helvetica, Arial, sans-serif;
    a {
        text-decoration: none;
        &:hover { text-decoration: none; }
        &:focus { text-decoration: none; }
    }
}
header#header div.header-bar {
    * { box-sizing: content-box; }
    div.header-bar-submenu-button.close {
        font-weight: 400;
        text-shadow: none;
        opacity: 1;
        color: inherit;
    }
}
div.pbplus-member-center-container {
    position: absolute;
    z-index: 20;
}
