@themeBackground: rgb(250, 130, 160);
@themeForeground: rgb(190, 136, 247);
@headerHeight: 60px;
@footerHeight: 4em;
html {
    position: relative;
    min-height: 100%;
}
body {
    font-family: Noto Sans TC, LiHei Pro, Microsoft JhengHei, Helvetica Neue, Helvetica, Arial, sans-serif;
    a {
        text-decoration: none;
        &:hover { text-decoration: none; }
        &:focus { text-decoration: none; }
    }
}
