@themeBackground: rgb(250, 130, 160);
@themeForeground: rgb(190, 136, 247);
.carousel() {
    position: relative;
    height: 4.5em;
    white-space: nowrap;
    overflow: hidden;
    div.carousel-item {
        position: relative;
        display: inline-block;
        border-radius: 1.7em;
        margin: 0.5em 0em 0.5em 1em;
        padding: 0.3em;
        height: 3.6em;
        max-width: 3.6em;
        white-space: nowrap;
        transition: all .5s ease;
        overflow: hidden;
        img.carousel-item-image {
            border-radius: 1.5em;
            margin-right: 0.5em;
            width: 3em; height: 3em;
        }
        span.carousel-item-text {
            display: inline-block;
            color: white;
        }
        &:hover {
            background-color: darken(@themeBackground, 10%);
            padding-right: 1em;
            max-width: 20em;
        }
    }
}
