@themeBackground: rgb(250, 130, 160);
@themeForeground: rgb(190, 136, 247);
.carousel() {
    display: flex;
    height: 4.6em;
    div.carousel-item {
        flex: none;
        display: flex;
        border-radius: 1.8em;
        padding: 0.3em 0.5em 0.3em 0.3em;
        margin: 0.5em;
        max-width: 3.6em;
        transition: background-color .5s ease, max-width .5s ease;
        div.carousel-item-image-wrapper {
            position: relative;
            flex: 0 0 3em;
            border-radius: 1.5em;
            margin-right: 0.5em;
            overflow: hidden;
            background-color: skyblue;
            img.carousel-item-image {
                position: absolute;
                height: 100%; width: auto;
            }
        }
        div.carousel-item-text {
            flex: 1;
            color: white;
            line-height: 3em;
            overflow: hidden;
        }
        &:hover {
            background-color: darken(@themeBackground, 10%);
            max-width: 30em;
        }
    }
}
