@themeBackground: rgb(250, 130, 160);
@themeForeground: rgb(190, 136, 247);
.carousel(@height: 4em) {
    display: flex;
    height: @height;
    overflow-x: auto;
    div.carousel-item {
        flex: none;
        display: flex;
        border-radius: 0.5*@height;
        margin-right: 0.8em;
        max-width: @height;
        transition: background-color .5s ease, max-width .5s ease;
        div.carousel-item-image-wrapper {
            position: relative;
            flex: 0 0 @height;
            border-radius: 0.5*@height;
            margin-right: 0.5em;
            overflow: hidden;
            background-color: skyblue;
            img.carousel-item-image {
                position: absolute;
                height: 100%; width: auto;
            }
        }
        div.carousel-item-text {
            flex: 1;
            color: white;
            line-height: @height;
            word-break: break-all;
            overflow: hidden;
        }
        &:hover {
            background-color: darken(@themeBackground, 10%);
            max-width: 20*@height;
        }
    }
}
