@themeBackground: rgb(250, 130, 160);
@headerHeight: 60px;
@footerHeight: 4em;
.transparent(@ratio) {
    zoom: 1;
    -ms-filter: e("progid:DXImageTransform.Microsoft.Alpha(Opacity=")(100*@ratio)e(");");
    filter: e("alpha(opacity=")(100*@ratio)e(");");
    -moz-opacity: @ratio;
    -khtml-opacity: @ratio;
    opacity: @ratio;
}
.keyframes (@name, @rules) {
    @-webkit-keyframes ~'@{name}' { @rules(); }
    @-moz-keyframes ~'@{name}' { @rules(); }
    @-ms-keyframes ~'@{name}' { @rules(); }
    @-o-keyframes ~'@{name}' { @rules(); }
    @keyframes ~'@{name}' { @rules(); }
}
.keyframes(fadeout, {
    0% { .transparent(1); }
    80% { .transparent(0); max-height: 100px; padding-top: 15px; padding-bottom: 15px; margin-bottom: 20px; }
    100% { .transparent(0); max-height: 0px; padding-top: 0px; padding-bottom: 0px; margin-bottom: 0px; }
});
.animation(@name, @duration: 3s, @delay: 0s, @ease: ease-out, @fillMode: forwards) {
    -webkit-animation: @name @duration @ease @delay 1 normal @fillMode;
    -moz-animation:    @name @duration @ease @delay 1 normal @fillMode;
    -ms-animation:     @name @duration @ease @delay 1 normal @fillMode;
    -o-animation:     @name @duration @ease @delay 1 normal @fillMode;
    animation:     @name @duration @ease @delay 1 normal @fillMode;
}
.transition(@property, @time, @function) {
    transition: @property @time @function;
    -webkit-transition: @property @time @function;
    -moz-transition: @property @time @function;
    -o-transition: @property @time @function;
}
html {
    position: relative;
    min-height: 100%;
}
body {
    & > div#app-root div#wrapper {
        & > header#header > nav.navbar {
            display: flex;
            background-color: rgba(0, 0, 0, 0.1);
            height: 60px;
            div#navbar-menu {
                flex: 1;
                display: inline-block;
                color: white;
                span.menu-icon {
                    font-size: 2em;
                    margin: 0px 10px 0px 30px;
                    line-height: 60px;
                }
                span.menu-display { font-size: 1.5em; }
            }
            div#brand-icon-container {
                flex: auto;
                text-align: center;
                img.brand-icon {
                    margin-top: 10px;
                    height: 3em;
                }
            }
            div#navbar-buttons {
                flex: 1;
                text-align: right;
                span.navbar-icon {
                    margin: 0px 20px 0px 10px;
                    color: white;
                    font-size: 2em;
                    line-height: 60px;
                }
                img.user-icon {
                    margin: 0px 20px 0px 10px;
                    height: 2em;
                    vertical-align: baseline;
                    border-radius: 1em;
                }
            }
        }
        & > div#slide {
            position: relative;
            display: flex;
            height: 607px;
            overflow: hidden;
            img.slide-image {
                position: absolute;
                width: 100%;
                min-height: 100%;
            }
            div.slide-swipe-zone {
                flex: 0.1;
                display: flex;
                align-items: center;
                justify-content: center;
                span.slide-swipe-icon {
                    background-color: rgba(255, 255, 255, 0.2);
                    border-radius: 1em;
                    margin: 0em 1em;
                    width: 1.4em; height: 1.4em;
                    color: rgba(255, 255, 255, 0.8);
                    font-size: 2em;
                    line-height: 1.4em;
                    text-align: center;
                }
            }
            div.slide-content-zone {
                flex: auto;
                div.slide-texts {
                    top: 50%;
                    padding-left: 15%;
                    color: rgba(255, 255, 255, 0.8);
                    text-shadow: rgba(0, 0, 0, 0.8) 1px 1px 10px; 
                    h1 { margin: 0em 0em 1em; }
                    h3 { margin: 0em 0em 3em; }
                }
                div.project-button-container {
                    top: 60%;
                    span.project-button {
                        background-color: rgba(255, 255, 255, 0.2);
                        border-radius: 0.5em;
                        padding: 1em 2em;
                        color: rgba(255, 255, 255, 0.8);
                        font-weight: 200;
                        &:hover {
                            background-color: rgba(255, 255, 255, 0.8);
                            cursor: pointer;
                            color: rgba(250, 130, 160, 0.8);
                        }
                    }
                }
            }
        }
        & > div#carousel {
            position: relative;
            background-color: @themeBackground;
            height: 4.5em;
            white-space: nowrap;
            overflow: hidden;
            div.carousel-item {
                position: relative;
                display: inline-block;
                border-radius: 1.7em;
                margin: 0.5em 0em 0.5em 1em;
                padding: 0.3em;
                height: 3.6em;
                background-color: darken(@themeBackground, 10%);
                max-width: 3.6em;
                white-space: nowrap;
                transition: all .5s ease;
                overflow: hidden;
                img.carousel-item-image {
                    border-radius: 1.5em;
                    margin-right: 0.5em;
                    width: 3em; height: 3em;
                }
                span.carousel-item-text {
                    display: inline-block;
                    color: white;
                }
                &:hover {
                    padding-right: 1em;
                    max-width: 20em;
                }
            }
        }
        & > div.project-cards {
            margin-right: 0;
            padding: 15px 15px 15px 30px;
            div.project-card {
                border: 1px solid gray;
                border-radius: 5px;
                margin: 15px 0px;
                width: 100%;
                overflow: hidden;
                div.ratio-fixer {
                    width: 100%;
                    position: relative;
                    height: 0;
                    padding: 100% 0 0 0;
                    overflow: hidden;
                    img.project-banner {
                        display: inline-block;
                        position: absolute;
                        margin: auto;
                        height: 100%;
                        top: 0; right: 0; bottom: 0; left: 0;
                    }
                    &:hover {
                        div.project-content {
                            max-height: 50%;
                            background-color: rgba(255, 255, 255, 0.9);
                            color: rgba(0, 0, 0, 0.9);
                            text-shadow: rgba(255, 255, 255, 0.9) 1px 1px 10px; 
                            div.project-content-hover-texts {
                                max-height: 100px;
                            }
                        }
                    }
                    div.project-content {
                        position: absolute;
                        display: flex;
                        flex-direction: column;
                        max-height: 50%;
                        bottom: 0;
                        padding: 10px;
                        background-color: rgba(255, 255, 255, 0.15);
                        color: rgba(255, 255, 255, 0.9);
                        text-shadow: rgba(0, 0, 0, 0.8) 1px 1px 10px; 
                        transition: all .5s ease;
                        h4.project-title { flex: 1; margin-bottom: 4px; }
                        div.project-content-hover-texts {
                            flex: 1;
                            max-height: 0px;
                            color: rgba(0, 0, 0, 0.9);
                            text-shadow: rgba(255, 255, 255, 0.9) 1px 1px 10px; 
                            overflow: hidden;
                            transition: all .5s ease;
                        }
                        div.project-content-footer {
                            flex: 1;
                            div.project-content-footer-texts {
                                display: flex;
                                span.project-proposer { flex: 0.33; }
                                span.project-follower { flex: 0.33; text-align: center; }
                                span.project-day-countdown { flex: 0.33; text-align: right; }
                            }
                        }
                    }
                }
            }
        }
        & > footer#footer {
        }
    }
}

