@import "./utils.less";
@import "./base.less";
@import "./index-header.less";
@import "./carousel.less";
@import "./slide.less";
@import "./project-slide.less";
@import "./project-card.less";
@import "./footer.less";

body {
    & > div#app-root div#wrapper {
        & > div#carousel {
            margin-top: 0.5em;
            margin-left: 0.5em;
            .carousel();
        }
        & > div.project-cards {
            margin-right: 0;
            padding: 15px 15px 15px 30px;
        }
    }
}

@media (max-width: 767px) {
    body {
        & > div#app-root div#wrapper {
        }
    }
}
