@import "./utils.less";
@import "./base.less";
@import "./carousel.less";
body {
    & > div#app-root div#wrapper {
        & > header#header {
            position: relative;
            &.on-top {
                nav.navbar.navbar-fixed-top {
                    background-color: rgba(255, 255, 255, 0);
                    &.navbar-user-panel-shown { background-color: @themeForeground; }
                }
            }
            nav.navbar {
                display: flex;
                height: @headerHeight;
                background-color: @themeForeground;
                transition: background-color .5s ease;
                div#navbar-menu {
                    flex: 1;
                    display: inline-block;
                    padding: 5px 0;
                    color: white;
                    span.menu-icon {
                        font-size: 2em;
                        margin: 0px 10px 0px 30px;
                        line-height: @headerHeight - 10;
                    }
                    span.menu-display { font-size: 1.5em; }
                }
                div#brand-icon-container {
                    flex: 0;
                    text-align: center;
                    img.brand-icon {
                        margin-top: 10px;
                        height: 3em;
                    }
                }
                div#navbar-buttons {
                    flex: 1;
                    text-align: right;
                    div.navbar-search-container {
                        display: inline-block;
                        height: 100%;
                        padding: 5px 0 5px 5px;
                        div.navbar-search {
                            display: flex;
                            border-radius: 1em;
                            height: 100%;
                            width: 3.5em;
                            transition: width .5s ease, background-color .5s ease;
                            &.editing {
                                background-color: @themeBackground;
                                width: 20em;
                            }
                            span.navbar-icon {
                                flex: 0;
                                margin-right: 10px;
                            }
                            span.navbar-search-text {
                                flex: auto;
                                margin: 10px 10px 10px 0;
                                color: white;
                                font-size: 1.5em;
                                text-align: left;
                                white-space: nowrap;
                                overflow: hidden;
                                outline-style: none;
                            }
                        }
                    }
                    span.navbar-icon {
                        margin: 0px 20px 0px 10px;
                        color: white;
                        font-size: 2em;
                        line-height: @headerHeight - 10;
                    }
                    img.user-icon {
                        margin: 0px 20px 0px 10px;
                        height: 2.2em; width: 2.2em;
                        vertical-align: baseline;
                        border-radius: 1.1em;
                        object-fit: cover;
                    }
                }
            }
            div.user-panel {
                position: fixed;
                border: 1px solid rgb(221, 221, 221);
                border-radius: 0 0 0 5px;
                padding: 10px;
                top: @headerHeight; right: 0px;
                max-width: 250px;
                background-color: white;
                text-align: center;
                z-index: 2;
                .animation(fadein, .5s);
                &.collapse {
                    display: block;
                    .animation(fadeout, .5s);
                }
                div.user-panel-profile {
                    display: flex;
                    div.user-panel-profile-picture-wrapper {
                        flex: 0;
                        margin-right: 5px;
                        img.user-panel-picture {
                            display: inline-block;
                            width: 3em; height: 3em;
                        }
                    }
                    div.user-panel-profile-texts {
                        flex: auto;
                        text-align: left;
                        overflow: hidden;
                        div.user-panel-nickname {
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                        }
                        div.user-panel-email {
                            font-size: small;
                            color: gray;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                        }
                    }
                }
                hr.user-panel-seperator { margin: 10px -10px; }
                div.user-panel-buttons {
                    text-align: left;
                    a.user-panel-button {
                        margin-top: 5px;
                        display: block;
                    }
                }
            }
        }
        & > div#slide {
            position: relative;
            height: 100vh;
            overflow: hidden;
            div.slide-swipe-zone {
                position: absolute;
                width: 10%; height: 100%;
                min-width: 75px; max-width: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: 1;
                &.swipe-right { right: 0px; }
                &:hover {
                    cursor: pointer;
                    span.slide-swipe-icon {
                        background-color: rgba(255, 255, 255, 0.2);
                        color: rgba(255, 255, 255, 0.8);
                    }
                }
                span.slide-swipe-icon {
                    border-radius: 0.7em;
                    width: 1.4em; height: 1.4em;
                    font-size: 2em;
                    line-height: 1.4em;
                    text-align: center;
                    background-color: rgba(255, 255, 255, 0.0);
                    color: rgba(255, 255, 255, 0.0);
                    transition: all .5s ease;
                }
            }
            div.project-slide-container {
                position: absolute;
                width: 100%; height: 100%;
                top: 0px;
                &.previous { .animation(fadeout, .5s); }
            }
        }
        & > div#carousel {
            margin-top: 0.5em;
            margin-left: 0.5em;
            .carousel();
        }
        & > div.project-cards {
            margin-right: 0;
            padding: 15px 15px 15px 30px;
            a.project-card {
                display: inline-block;
                border: 1px solid rgb(230, 230, 230);
                border-radius: 5px;
                margin: 15px 0px;
                width: 100%;
                overflow: hidden;
                transition: all .5s ease;
                &:hover { border: 1px solid rgb(230, 230, 230); }
                div.ratio-fixer {
                    width: 100%;
                    position: relative;
                    height: 0;
                    padding: 100% 0 0 0;
                    overflow: hidden;
                    &:hover {
                        div.project-content {
                            max-height: 50%;
                            background-color: rgb(255, 255, 255);
                            color: rgb(25, 25, 25);
                            text-shadow: rgb(255, 255, 255) 0px 0px 2px; 
                            div.project-content-hover-texts {
                                max-height: 100px;
                            }
                        }
                    }
                    div.project-content {
                        position: absolute;
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        max-height: 50%;
                        bottom: 0;
                        padding: 10px;
                        background-color: rgba(255, 255, 255, 0);
                        color: white;
                        text-shadow: rgb(10, 10, 10) 0px 0px 2px; 
                        transition: all .5s ease;
                        h4.project-title { flex: 1; margin-bottom: 4px; }
                        div.project-content-hover-texts {
                            flex: 1;
                            max-height: 0px;
                            color: rgba(0, 0, 0, 0.9);
                            text-shadow: rgba(255, 255, 255, 0.9) 1px 1px 10px; 
                            overflow: hidden;
                            transition: all .5s ease;
                        }
                        div.project-content-footer {
                            flex: 1;
                            div.project-content-footer-texts {
                                display: flex;
                                span.project-proposer { flex: 0.3; }
                                span.project-progress { flex: 0.4; text-align: center; }
                                span.project-day-countdown { flex: 0.3; text-align: right; }
                            }
                        }
                    }
                }
            }
        }
        & > footer#footer {
            background-color: rgba(0, 0, 0, 0.8);
            color: rgba(255, 255, 255, 0.6);
            padding: 50px 0;
            text-align: center;
            div#footer-content {
                display: inline-block;
                max-width: 992px;
                width: 100%;
                padding: 0 15px;
                text-align: left;
                div.site-map {
                    margin-bottom: 15px;
                    div.site-map-column {
                        &:hover {
                            h5.site-map-column-title {
                                color: darken(@themeBackground, 10%);
                            }
                        }
                        h5.site-map-column-title {
                            color: rgba(255, 255, 255, 0.8);
                            transition: all .5s ease;
                        }
                        ul.site-map-column-list {
                            list-style-type: none;
                            padding: 0;
                            li.site-map-column-item {
                                a {
                                    color: inherit;
                                    transition: all .5s ease;
                                    &:hover { color: lighten(@themeForeground, 0%); }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    body {
        & > div#app-root div#wrapper {
            & > header#header {
                nav.navbar {
                    div#navbar-menu {
                        span.menu-icon { margin: 0px 10px 0px 20px; }
                        span.menu-display { display: none; }
                    }
                    div#brand-icon-container { }
                    div#navbar-buttons {
                        div.navbar-search-container { display: none; }
                        span.navbar-icon { margin-top: 5px; }
                        img.user-icon { margin-top: 15px; }
                    }
                }
                div.user-panel {
                    &.collapse { }
                    div.user-panel-profile {
                        div.user-panel-profile-picture-wrapper {
                            img.user-panel-picture { }
                        }
                        div.user-panel-profile-texts {
                            div.user-panel-nickname {
                            }
                            div.user-panel-email {
                            }
                        }
                    }
                    hr.user-panel-seperator { }
                    div.user-panel-buttons {
                        a.user-panel-button { }
                    }
                }
            }
            & > div#slide { max-height: 450px; }
            & > footer#footer {
                div#footer-content {
                    div.site-map {
                        div.site-map-column {
                            margin-bottom: 20px;
                            ul.site-map-column-list {
                                li.site-map-column-item {
                                    display: inline-block;
                                    padding-right: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
